{{define "module.go.tmpl"}}
{{- /*gotype:github.com/go-modulus/mtools/internal/mtools/cli/module.TmplVars*/ -}}
package {{.Module.GetShortPackageName}}

import (
	"github.com/go-modulus/modulus/module"
	{{ if .HasStorage -}}
	"embed"
	"io/fs"
	"github.com/go-modulus/modulus/db/pgx"
	"github.com/jackc/pgx/v5/pgxpool"
	"go.uber.org/fx"
	"{{.Module.StoragePackage}}"
	{{- end}}
)

{{ if .HasStorage -}}
//go:embed storage/migration/*.sql
var migrationFS embed.FS
{{- end}}

type ModuleConfig struct {
	// Add your module configuration here
	// e.g. Var1 string `env:"MYMODULE_VAR1, default=test"`
}

func NewModule() *module.Module {
	return module.NewModule("{{.Module.Name}}").
		// Add all dependencies of a module here
		AddDependencies(
		{{- if .HasStorage }}
			pgx.NewModule(),
		{{- end}}
		).
		// Add all your services here. DO NOT DELETE AddProviders call. It is used for code generation
		AddProviders(
		{{- if .HasStorage }}
			func(db *pgxpool.Pool) storage.DBTX {
				return db
			},
			func(db storage.DBTX) *storage.Queries {
				return storage.New(db)
			},
			fx.Annotate(func() fs.FS { return migrationFS }, fx.ResultTags(`group:"migrator.migration-fs"`)),
		{{- end}}
		).
		// Add all your CLI commands here
		AddCliCommands().
		// Add all your configs here
		InitConfig(ModuleConfig{})
}
{{end}}
